{
  "presets": ["babel-preset-expo"],
  "env": {
    "development": {
      "plugins": ["transform-react-jsx-source"]
    },
    "production": {
      "plugins": [
        "react-native-paper/babel" // Reduces bundle size
      ]
    }
  },
  "plugins": [
    ["module-resolver", {
      "alias": {
        "Assets": "./src/assets",
        "Fonts": "./src/assets/fonts",
        "Components": "./src/components",
        "Constants": "./src/constants",
        "Navigation": "./src/navigation",
        "Screens": "./src/screens"
      },
      "extensions": [".js"]
    }]
  ]
}
